# Facebook Graph API access token
# Generate at: https://developers.facebook.com/tools/explorer/
FACEBOOK_ACCESS_TOKEN=your_access_token_here

# Graph API version (optional, defaults to v21.0)
GRAPH_API_VERSION=v21.0
